node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
node_modules/.cache/@babel/register/.babel.7.1.2.development.json
node_modules/@babel/code-frame/package.json
node_modules/@babel/core/lib/config/config-chain.js
node_modules/@babel/core/lib/config/files/plugins.js
node_modules/@babel/core/lib/transformation/util/missing-plugin-helper.js
node_modules/@babel/core/node_modules/debug/package.json
node_modules/@babel/core/node_modules/ms/package.json
node_modules/@babel/core/package.json
node_modules/@babel/generator/package.json
node_modules/.cache/@babel/register/.babel.7.1.2.development.json
node_modules/@babel/code-frame/package.json
node_modules/@babel/core/lib/config/config-chain.js
node_modules/@babel/core/lib/config/files/plugins.js
node_modules/@babel/core/lib/transformation/util/missing-plugin-helper.js
node_modules/@babel/core/node_modules/debug/package.json
node_modules/@babel/core/node_modules/ms/package.json
node_modules/@babel/core/package.json
node_modules/@babel/generator/package.json
node_modules/@babel/generator/lib/generators/methods.js
